# Data Info & Snippets
- Visual Python: Data Info & Snippets

#### 1. Data Info
1. General
    - Info
    - Describe
    - Head
    - Tail
2. Status
    - Null count
    - Duplicated
    - Unique
    - Value counts
3. Statistics
    - count, min, max, quantile, sum, mean, median, var, std, skew,  kurtosis
    - cumsum
4. Correlation
    - Correlation table
    - Correlation matrix
5. Distribution
    - Histogram
    - Scatter matrix
    - Box plot
    - Count plot

#### 2. Snippets

# Import python package

In [ ]:
# Visual Python: Data Analysis > Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# Load files

In [ ]:
# Visual Python: Data Analysis > File
df_iris = pd.read_csv('data/iris.csv')
df_iris

# 1. Data Info

## 1.1 General

### 1.1.1 Info

In [ ]:
# Visual Python: Data Analysis > Data Info
df_iris.info()

### 1.1.2 Describe

In [ ]:
# Visual Python: Data Analysis > Data Info
df_iris.describe()

### 1.1.3 Head

In [ ]:
# Visual Python: Data Analysis > Data Info
df_iris.head()

### 1.1.4 Tail

In [ ]:
# Visual Python: Data Analysis > Data Info
df_iris.tail()

## 1.2 Status

### 1.2.1 Null count

In [ ]:
# Visual Python: Data Analysis > Data Info
pd.DataFrame({'Null Count': df_iris.isnull().sum(), 'Non-Null Count': df_iris.notnull().sum()})

In [ ]:
# Visual Python: Data Analysis > Data Info
df_iris.info() # info() 로도 간단하게 확인 가능

### 1.2.2 Duplicated

In [ ]:
# Visual Python: Data Analysis > Data Info
_duplicated = ([df_iris.duplicated().sum()] + [df_iris[col].duplicated().sum() for col in df_iris.columns])
_duplicated_df = pd.DataFrame({
    'Rows':[len(df_iris)]*len(_duplicated),
    'Unique':[len(df_iris) - dups for dups in _duplicated],
    'Duplicated': _duplicated,
    'Duplicated by': ['All columns'] + df_iris.columns.to_list()
}, index=['Combination']+df_iris.columns.to_list())
_duplicated_df

### 1.2.3 Unique

In [ ]:
# Visual Python: Data Analysis > Data Info
df_iris['variety'].unique()

### 1.2.4 Value counts

In [ ]:
# Visual Python: Library > value_counts
df_iris['variety'].value_counts()

In [ ]:
# Visual Python: Library > value_counts
df_iris['sepal_width'].value_counts(bins=5)

In [ ]:
# Visual Python: Data Analysis > Data Info
_dfr = pd.DataFrame()
for col in df_iris.columns:
    if pd.api.types.is_numeric_dtype(df_iris[col]) and  df_iris[col].value_counts().size > 10:
        _value_counts = df_iris[col].value_counts(bins=10, sort=False)
        _dfr = pd.concat([_dfr, pd.DataFrame({(col,'bins'): _value_counts.index})], axis=1)
    else:
        _value_counts = df_iris[col].value_counts()
        _dfr = pd.concat([_dfr, pd.DataFrame({(col,'category'): _value_counts.index})], axis=1)
    _dfr = pd.concat([_dfr, pd.DataFrame({(col,'count'): _value_counts.values})], axis=1)
_dfr.replace(np.nan,'')

## 1.3 Statistics

### 1.3.1 count, min, max, quantile, sum, mean, median, var, std, skew, kurtosis

In [ ]:
# Visual Python: Data Analysis > Data Info
pd.DataFrame({'count': df_iris.count(),'min': df_iris.min(numeric_only=True),'max': df_iris.max(numeric_only=True),'quantile': df_iris.quantile(numeric_only=True),'sum': df_iris.sum(numeric_only=True),'mean': df_iris.mean(numeric_only=True),'median': df_iris.median(numeric_only=True),'var': df_iris.var(numeric_only=True),'std': df_iris.std(numeric_only=True),'skew': df_iris.skew(numeric_only=True),'kurtosis': df_iris.kurtosis(numeric_only=True)})

### 1.3.2 cumsum

In [ ]:
# Visual Python: Data Analysis > Data Info
df_iris[['sepal_length','sepal_width','petal_length','petal_width']].cumsum()

## 1.4 Correlation

### 1.4.1 Correlation table

In [ ]:
# Visual Python: Data Analysis > Data Info
df_iris.corr(numeric_only=True)

### 1.4.1 Correlation matrix

In [ ]:
# Visual Python: Data Analysis > Data Info
_corr = df_iris.corr(numeric_only=True)
_corr.style.background_gradient(cmap='coolwarm')

## 1.5 Distribution

### 1.5.1 Histogram

In [ ]:
# Visual Python: Data Analysis > Data Info
df_iris.hist()
plt.show()

### 1.5.2 Scatter matrix

In [ ]:
# Visual Python: Data Analysis > Data Info
pd.plotting.scatter_matrix(df_iris, marker='o', hist_kwds={'bins': 30}, s=30, alpha=.8)
plt.show()

### 1.5.3 Box plot

In [ ]:
# Visual Python: Data Analysis > Data Info
df_iris.plot(kind='box')
plt.show()

### 1.5.4 Count plot

In [ ]:
# Visual Python: Data Analysis > Data Info
df_iris['variety'].value_counts().plot(kind='bar', rot=30)
plt.show()

# 2. Snippets

In [ ]:
# Visual Python: Data Analysis > Snippets
def as_int(x):
    """
    usage: df['col'] = df['col'].apply(as_int)
    """
    if not isinstance(x, str):
        return 0
    else:
        try:
            result = int(x)
            return result
        except ValueError:
            return 0.0

In [ ]:
# Visual Python: Data Analysis > Snippets
def as_int(x):
    """
    usage: df['col'] = df['col'].apply(as_int)
    """
    if not isinstance(x, str):
        return 0
    else:
        try:
            result = int(x)
            return result
        except ValueError:
            return 0.0

---

# [실습] 직접 해보기

## 실습 1. Titanic 데이터로 Data Info 실습하기

In [ ]:
# Visual Python: Data Analysis > File
df_titanic = pd.read_csv('./data/titanic.csv')
df_titanic

#### Q. titanic 데이터의 각 컬럼별 dtype과 데이터의 행 개수를 출력하세요.

In [ ]:
# Visual Python: Data Analysis > Data Info
df_titanic.info()

#### Q. 데이터를 대략적으로 파악하기 위해, 위에서부터 5개 행을 출력하고, 아래에서부터 5개 행을 출력하세요.

In [ ]:
# Visual Python: Data Analysis > Data Info
df_titanic.head()

In [ ]:
# Visual Python: Data Analysis > Data Info
df_titanic.tail()

#### Q. 타이타닉호 탑승자의 `Age`와 `Fare`의 최소값, 최대값, 평균, 중앙값을 출력하세요.
> **💡 Visual Python Tip** <br/>
> Ctrl 키와 마우스 좌클릭으로 여러개의 컬럼을 선택할 수 있습니다.
> 또한, Shift 키와 마우스 좌클릭으로 연속된 컬럼을 선택할 수 있습니다.

In [ ]:
# Visual Python: Data Analysis > Data Info
pd.DataFrame({'min': df_titanic[['Age','Fare']].min(numeric_only=True),'max': df_titanic[['Age','Fare']].max(numeric_only=True),'mean': df_titanic[['Age','Fare']].mean(numeric_only=True),'median': df_titanic[['Age','Fare']].median(numeric_only=True)})

#### Q. 데이터의 각 컬럼별 결측치 개수를 출력하세요.

In [ ]:
# Visual Python: Data Analysis > Data Info
pd.DataFrame({'Null Count': df_titanic.isnull().sum(), 'Non-Null Count': df_titanic.notnull().sum()})

#### Q. 컬럼별 중복된 행의 개수를 확인하세요.

In [ ]:
# Visual Python: Data Analysis > Data Info
_duplicated = ([df_titanic.duplicated().sum()] + [df_titanic[col].duplicated().sum() for col in df_titanic.columns])
_duplicated_df = pd.DataFrame({
    'Rows':[len(df_titanic)]*len(_duplicated),
    'Unique':[len(df_titanic) - dups for dups in _duplicated],
    'Duplicated': _duplicated,
    'Duplicated by': ['All columns'] + df_titanic.columns.to_list()
}, index=['Combination']+df_titanic.columns.to_list())
_duplicated_df

#### Q. 중복된 값을 출력한 결과에서, `Unique`값이 5 이하인 컬럼들에 대해 몇 가지 카테고리로 구분되어 있고, 각 카테고리별 데이터의 수를 출력하세요.

In [ ]:
# Visual Python: Data Analysis > Data Info
_dfr = pd.DataFrame()
for col in df_titanic[['Survived','Pclass','Sex','Embarked']].columns:
    if pd.api.types.is_numeric_dtype(df_titanic[['Survived','Pclass','Sex','Embarked']][col]) and  df_titanic[['Survived','Pclass','Sex','Embarked']][col].value_counts().size > 10:
        _value_counts = df_titanic[['Survived','Pclass','Sex','Embarked']][col].value_counts(bins=10, sort=False)
        _dfr = pd.concat([_dfr, pd.DataFrame({(col,'bins'): _value_counts.index})], axis=1)
    else:
        _value_counts = df_titanic[['Survived','Pclass','Sex','Embarked']][col].value_counts()
        _dfr = pd.concat([_dfr, pd.DataFrame({(col,'category'): _value_counts.index})], axis=1)
    _dfr = pd.concat([_dfr, pd.DataFrame({(col,'count'): _value_counts.values})], axis=1)
_dfr.replace(np.nan,'')

#### Q. 수치형인 `Fare` 컬럼의 히스토그램을 출력해 분포를 확인하세요.

In [ ]:
# Visual Python: Data Analysis > Data Info
df_titanic['Fare'].hist()
plt.show()

#### Q. 데이터의 수치형 컬럼들 간 상관계수를 구하시오.

In [ ]:
# Visual Python: Data Analysis > Data Info
df_titanic.corr(numeric_only=True)

#### Q. [심화] `Survived`와 나머지 수치형 컬럼들 간 상관계수를 구하시오. 단, 상관계수를 내림차순으로 정렬해서 표시하시오.
> **💡 Visual Python Tip** <br/>
>Instance 앱을 통해 다양한 속성과 함수를 활용할 수 있습니다.다.

In [ ]:
# Visual Python: Data Analysis > Instance
df_titanic.corr(numeric_only=True).loc[:, 'Survived'].sort_values(ascending=False)

---

In [ ]:
# End of file