# Subset
- Visual Python: Data Analysis > Subset

#### 원하는 조건으로 특정한 행과 열을 추출

#### 데이터 추출 방식
1. subset
2. loc
3. iloc
4. query

#### 조건 선택 방식
1. Indexing
2. Slicing
3. Condition

---

## Import Packages
- Visual Python: Data Analysis > Import

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## Read data
- Visual Python: Data Analysis > File

In [ ]:
df = pd.read_csv('./data/iris.csv')
df

## 1 데이터 추출

### 1.1 subset

#### 1.1.1 컬럼: 'sepal_length', 'petal_length', 'variety'

In [ ]:
# Visual Python: Data Analysis > Subset
df[['sepal_length','petal_length','variety']]

#### 1.1.2 행: 0(이상) ~ 10(미만), 컬럼: 'sepal_length', 'petal_length', 'variety'

In [ ]:
df[0:10][['sepal_length','petal_length','variety']]

### 1.2 loc

#### 1.2.1 행: 'variety' == 'Setosa' & 'sepal_length > 5.5

In [ ]:
df.loc[(df['variety'] == 'Setosa')&(df['sepal_length'] > 5.5), :]

#### 1.2.2 행: 'variety' == 'Setosa', 컬럼: 'sepal_length', 'petal__length', 'variety

In [ ]:
df.loc[(df['variety'] == 'Setosa'), ['sepal_length','petal_length','variety']]

### 1.3 iloc

#### 1.3.1 행: 0(이상) ~ 10(미만), 컬럼: 1, 2, 4

In [ ]:
df.iloc[0:10, [1,2,4]]

#### 1.3.2 행: 10(이상) ~ 14(미만), 컬럼: 0(이상) ~  3(미만)

In [ ]:
df.iloc[10:14, 0:3]

### 1.4 query

#### 1.4.1 행: 'variety' == 'Virginica'

In [ ]:
df.query("`variety` == 'Virginica'")

#### 1.4.2 행: 'sepal_length' > 5.5, 컬럼: 'sepal_length', 'petal_length', 'variety'

In [ ]:
df.query("`sepal_length` > 5.5")[['sepal_length','petal_length','variety']]

---

## [실습] 직접 해보기

## 실습 1. iris 데이터로 복습하기

#### Q. subset: 행이  5 이상 10 미만 이고, 컬럼이 'sepal_width', 'petal_width', 'variety'인 데이터를 추출하세요.

In [ ]:
df[5:10][['sepal_width','petal_width','variety']]

#### Q. loc: 행이 'petal_width' < 0.2 이고, 컬럼이 'sepal_length', 'variety인 데이터를 추출하세요.

In [ ]:
df.loc[(df['petal_width'] < 0.2), ['sepal_length','variety']]

#### Q. iloc: 행이 10 이상 14 미만 이고, 컬럼이 0 이상 3 미만인 데이터를 추출하세요.

In [ ]:
df.iloc[10:14, 0:3]

#### Q. query: 행이 'variety' != 'Versicolor' 이고, 컬럼이  'petal_length', 'variety'인 데이터를 추출하세요.

In [ ]:
df.query("variety != 'Versicolor'")[['petal_length','variety']]

---

## 실습 2. titanic 데이터로 일부 데이터 가져오기

In [ ]:
# Visual Python: Data Analysis > File
df_titanic = pd.read_csv('./data/titanic.csv')
df_titanic

#### Q. loc를 이용해 `Pclass`가 3이면서 `Embarked`가 S인 데이터를 추출하세요.

In [ ]:
# Visual Python: Data Analysis > Subset
df_titanic.loc[(df_titanic['Pclass'] == 3)&(df_titanic['Embarked'] == 'S'), :]

#### Q. subset을 이용해 `Pclass`가 1이면서 `Embarked`가 Q인 데이터를 추출하세요.

In [ ]:
# Visual Python: Data Analysis > Subset
df_titanic[(df_titanic['Pclass'] == 1)&(df_titanic['Embarked'] == 'Q')]

#### Q. loc를 이용해 `Fare`가 30 이상이면서 `Survived`가 1인 데이터의 `PassengerId`와 `Survived`, `Pclass`, `Name` 컬럼을 추출하세요.

In [ ]:
# Visual Python: Data Analysis > Subset
df_titanic.loc[(df_titanic['Fare'] >= 30)&(df_titanic['Survived'] == 1), ['PassengerId','Survived','Pclass','Name']]

#### Q. `Survived`가 0이면서 `Pclass`가 1인 데이터를 추출하고, `Survived`가 0이면서 `Pclass`가 3인 데이터를 추출해 비교해 보세요.
- `Survived`가 0이면서 `Pclass`가 1인 데이터를 df1에 저장하세요.
- `Survived`가 0이면서 `Pclass`가 3인 데이터를 df2에 저장하세요.

In [ ]:
# Visual Python: Data Analysis > Subset
df1 = df_titanic.loc[(df_titanic['Survived'] == 0)&(df_titanic['Pclass'] == 1), :]
df1

In [ ]:
# Visual Python: Data Analysis > Subset
df2 = df_titanic.loc[(df_titanic['Survived'] == 0)&(df_titanic['Pclass'] == 3), :]
df2

#### Q. `Age` 컬럼의 히스토그램을 그려 분포를 확인하고, 아래 조건에 맞춰 데이터를 추출하세요.
- 20세 이상 50세 미만의 나이를 가진 사람들의 데이터를 df3에 저장하세요.
- 20세 미만 또는 50세 이상의 나이를 가진 사람들의 데이터를 df4에 저장하세요.

In [ ]:
# Visual Python: Data Analysis > Data Info
df_titanic['Age'].hist()
plt.show()

In [ ]:
# Visual Python: Data Analysis > Subset
df3 = df_titanic.loc[(df_titanic['Age'] >= 20)&(df_titanic['Age'] < 50), :]
df3

In [ ]:
# Visual Python: Data Analysis > Subset
df4 = df_titanic.loc[(df_titanic['Age'] < 20)|(df_titanic['Age'] >= 50), :]
df4

#### Q. `Age` 컬럼에 실수형 데이터가 들어있는지 확인하려고 할 때, 아래 순서에 따라 데이터를 추출하세요.
- `Age` 컬럼의 결측치를 모두 제거하세요.
- `Age` 컬럼의 값을 이용해 `Age2` 컬럼을 생성하세요.
- `Age2` 컬럼을 int형으로 변경하세요.
- 위 순서를 수행한 데이터를 df4에 저장하세요.
- `Age`와 `Age2` 컬럼의 값이 다른 데이터를 추출하세요.

In [ ]:
# Visual Python: Data Analysis > Frame
df4 = df_titanic.copy()
df4.dropna(axis=0, subset=['Age'], how='all', inplace=True)
df4['Age2'] = df4['Age']
df4 = df4.astype({'Age2': 'int64'})
df4

In [ ]:
# Visual Python: Data Analysis > Subset
df4.loc[(df4['Age'] != df4['Age2']), :]

---

In [ ]:
# End of file